*
!.gitlab-ci.yml
!config
!config/**
!doc
!doc/**
!src
!src/**
!templates
!templates/**
!tests
!tests/**
!scripts
!scripts/**
!.gitignore
!.prettierrc.json
!Dockerfile
!healthcheck.sh
!LICENSE
!bun.lock
!package.json
!readme.md
!tsconfig.json
!jsx-runtime.ts
!global.d.ts
!.oxlintrc.json
node_modules/